#mainContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

#topContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 52%;
  width: 100%;
}

#bottomContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 48%;
  width: 100%;
}

.colorbox {
  background-color: black;
  width: 12px;
  height: 72px;
}

html {
  @apply text-base;
}

.slidev-layout.cover {
  @apply w-full px-0 py-0;

  h1,
  h2,
  h3,
  h4,
  p,
  div {
    @apply select-text;
  }

  h1 {
    @apply font-bold;
  }

  h1+h2 {
    @apply -mt-4;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }
}

.slidev-layout.default {
  @apply w-full px-0 py-6;

  font-variant-ligatures: none;

  h1,
  h2,
  h3,
  h4,
  p,
  div {
    @apply select-text;
  }

  h1 {
    @apply font-bold;
  }

  h1+h2 {
    @apply -mt-4;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  p {
    @apply mt-4 mb-4;
  }

  p:first-child {
    @apply mt-0 mb-4;
  }

  p:last-child {
    @apply mb-0;
  }

  p+h2,
  ul+h2,
  table+h2 {
    @apply mt-10;
  }

  blockquote>* {
    @apply my-0;
  }

  ul {
    list-style: square;
    list-style-position: outside;
  }

  ul ul {
    list-style-type: disc;
    list-style-position: outside;
  }

  ul ul ul {
    list-style-type: circle;
    list-style-position: outside;
  }

  li>ul,
  li>ol,
  ul:first-child,
  ol:first-child {
    margin-top: 0;
  }

  .katex-display {
    @apply my-0
  }

  th {
    @apply font-bold;
  }

  td {
    @apply py-1.5;
  }

  li {
    line-height: 1.5em;
  }

}